body{background-repeat:no-repeat; background-size:cover}
table{float:right}
.scroll-container {width: 100%; overflow:auto;}
.scroll-content {display:flex;}
img {width: 300px; height: auto; margin-right: 10px;}